[Log]
# 是否启用api日志(0不启用，1启动)
EnableLog=1
# api日志级别(trace debug info warning error)
LogLevel=trace
# 是否在控制台中输出简单信息(1简单日志，只包含日志信息   0详细日志，包含时间、日志级别、线程id等)
SimpleLog=1
# 是否在控制台中输出日志(0不输出  1输出)
EnableConsole=1
# 是否将日志写入到文件中(0不写文件  1写文件)
EnableFile=1
# 日志文件夹(空字符串表示使用程序所在目录的log文件夹)
# 空字符串的情况，如果设置了环境变量RTDBAPI_MODULE_NAME，则使用此环境变量表示的文件夹下的log文件夹
LogDir=
# 日志文件名前缀(空字符串表示使用程序文件名作为日志文件名的前缀)
# 空字符串的情况，如果设置了环境变量RTDBAPI_MODULE_NAME，则使用此环境变量表示的程序文件名作为日志文件名前缀
# 1. 比如设置 LogDir设置为/rtdb/cli/log, FileName设置为cli, FileExt设置为log，则日志输出到/rtdb/cli/log文件夹的cli.rtdbapi.log文件
# 2. LogDir、FileName为空字符串，并且设置RTDBAPI_MODULE_NAME=/rtdb/cli/rtdbcli时，日志输出到/rtdb/cli/log/rtdbcli.rtdbapi.log文件
FileName=
# 日志文件名后缀
FileExt=log
# 日志文件保留最大数量
FileMaxCount=1000
# 单个日志文件的最大大小, 单位MB(单文件未写满时，即使多次重启程序，也会输出到同一个文件中，只有写满以后，才会切换到下一个文件)
FileMaxSize=5
# 将日志写入到文件的间隔，单位毫秒
FileFlushInterval=3000

[Config]
# 是否自动重连(0不重连  1自动重连)
AutoReconn=0
# 连接超时时间，单位毫秒
ConnectTimeout=1000
# 发送消息超时时间，单位毫秒
SendTimeout=1000
# 接收消息超时时间，单位毫秒
RecvTimeout=60000
# 超时时间，单位毫秒
UserTimeout=10000
# 日志中格式化消息id的类型(0只有消息id，1消息id和name，2消息id和desc，3消息id、name、desc)
FmtMsgStrType=3
# 日志中格式化错误码的类型(0只有错误id，1错误id和name，2错误id和desc，3错误id、name、desc)
FmtErrStrType=3
# 双活模式，订阅功能，是否自动重连、重新订阅(0不自动重连 1自动重连)
# 程序调用api的时候，会设置一个是否自动重连的参数。api参数和此配置，任何一个设置为自动重连，则订阅功能就会自动重连
# 只对双活模式有效
# 这个自动重连，指的是是否重连、重新订阅，与AutoReconn无关
SubscribeAutoReonnOfDoubleLive=1
# 双活模式，负载均衡时，尝试连接数据库的时间间隔
# 双活模式，负载均衡时，如果一个连接未连接到数据库，则间隔interval时间，尝试重连一次数据库(单位毫秒，默认60*1000毫秒)
ReconnIntervalOfLoadBalance=60000
# 双活模式，快照订阅，备库缓存多长时间的快照数据，当切换连接时，会将此缓存中满足时间要求的数据通知给回调函数(单位毫秒，默认5000毫秒)
CacheDataIntervalOfSnapSubscribe=5000

[Debug]
# 是否捕捉异常信号，只对非数据库程序有效(0不捕捉 1捕捉)
CatchSignals=1
# 是否输出标签点的订阅快照信息，对应标签点ID，默认为0，表示不输出
SubscribeSnapId=0